#calendar {
   display: grid;
   grid-template-columns: 2.25vw 2.25vw 2.25vw 2.25vw 2.25vw 2.25vw 2.25vw;
   grid-template-rows: 2.25vw 2.25vw 2.25vw 2.25vw 2.25vw 2.25vw 2.25vw;
   gap: 1vw;
   place-content: center;
}

#calendar div {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 2vw;
   font-weight: 600;
   transition-duration: 250ms;
}

#calendar div:nth-child(7n):hover,
#calendar div:nth-child(7n - 1):hover,
#calendar div:nth-child(7n + 1):hover{
   transition-duration: 250ms;
   background-color: #5F6C7B;
   color: white !important;
}

#calendar div:nth-child(7n), #calendar div:nth-child(7n - 1), #calendar div:nth-child(7n + 1){
   color: #EF4565;
   cursor: pointer;
}

#calendar div:nth-child(1), 
#calendar div:nth-child(2),
#calendar div:nth-child(3),
#calendar div:nth-child(4),
#calendar div:nth-child(5),
#calendar div:nth-child(6),
#calendar div:nth-child(7){
   background-color: transparent !important;
   color: black !important;
}

.booking-container {
   display: flex;
   justify-content: space-between;
}

.booking-container .div {
   position: relative;
   width: 16vw;
   height: 16vw;
   border-radius: 1.5vw;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2vw;
   font-weight: 700;
   color: white;
   animation: booking-slide-up ease-in-out;
}

.booking-hover-button {
   cursor: pointer;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 10;
   background-color: #3da9fc;
   border-radius: 1.5vw;
   justify-content: center;
   display: flex;
   align-items: center;
   font-size: 2vw;
   font-weight: 700;
   color: white;
   opacity: 0;
   transition-duration: 250ms;
}

.booking-container .div:hover .booking-hover-button {
   transition-duration: 250ms;
   opacity: 1;
}

.month-arrows {
   cursor: pointer;
   font-size: 2vw;
}

.calendar-colours {
   margin-right: 1vw;
   border-radius: 0.75vw;
   animation: slide-up 1s ease-in-out;
   width: 3vw;
   height: 3vw;
}