.about-slide-header,
.about-slide-paragraph,
.cabin-about-paragraph, 
.feature-container,
.cabin-gallery,
.cabin-gallery h3 {
   animation: slide-up 1s ease-in-out;
}

.feature-container {
   cursor: pointer;
   background-color: white;
   border-radius: 0.5vw;
   display: flex;
   padding: 1vw 1.5vw;
   align-items: center;
   position: relative;
}

.feature-icon {
   width: 3vw;
   height: 3vw;
   object-fit: contain;
   margin-right: 1vw;
}

.feature-description {
   animation-name: feature-slide-left;
   animation-timing-function: ease-in-out;
   margin: 0;
   font-size: 1vw;
}

.feature-container-bubble {
   opacity: 0;
   transition-duration: 250ms;
   transform: scale(0%);
   position: absolute;
   bottom: -3vw;
   background-color: #3da9fc;
   color: white;
   padding: 1vw 1.5vw;
   border-radius: 0.5vw;
   pointer-events: none;
   white-space: nowrap;
   text-align: center;
   font-weight: 600;
}

.feature-container:hover .feature-container-bubble {
   opacity: 1;
   transition-duration: 250ms;
   transform: scale(100%);
}

.cabin-gallery {
   margin-top: 5vw;
   width: 100%;
   background-color: white;
   height: 20vw;
   border-radius: 2vw;
   padding: 2vw;
   padding-top: 1.5vw;
   font-size: 1vw;
   font-weight: 600;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.cabin-gallery img {
   transition-duration: 250ms;
}

.cabin-gallery img:hover {
   transform: translateY(-5%);
   transition-duration: 250ms;
}

.cabin-image {
   width: 20vw;
   height: 20vw;
   border: 1vw solid white;
   border-radius: 1.5vw;
   align-self: flex-end;
   animation-name: slide-up;
   animation-duration: 1.2s;
   cursor: pointer;
}
