@keyframes button-slide-right {
   from {
      transform: translateX(130%);
      opacity: 0;
   } to {
      transform: translateX(0%);
      opacity: 1;
   }
}

@keyframes button-slide-left {
   from {
      transform: translateX(-130%);
      opacity: 0;
   } to {
      transform: translateX(0%);
      opacity: 1;
   }
}

@keyframes feature-slide-left {
   from {
      transform: translateX(-80%);
      opacity: 0;
   } to {
      transform: translateX(0%);
      opacity: 1;
   }
}

@keyframes home-page-slide-bottom {
   from {
      transform: translateY(120%);
      opacity: 0;
   } to {
      transform: translateY(0%);
      opacity: 1;
   }
}

@keyframes slide-up {
   from {
      transform: translateY(75%);
      opacity: 0;
   }
   to {
      transform: translateY(0%);
      opacity: 1;
   }   
}

@keyframes slide-up-extended {
   from {
      transform: translateY(120%);
      opacity: 0;
   }
   to {
      transform: translateY(0%);
      opacity: 1;
   }   
}

@keyframes slide-up-navigation {
   from {
      transform: translateY(250%);
      opacity: 0;
   }
   to {
      transform: translateY(0%);
      opacity: 1;
   }   
}

@keyframes booking-slide-up {
   from {
      transform: translateY(20%);
      opacity: 0;
   }
   to {
      transform: translateY(0%);
      opacity: 1;
   }   
}

@media (min-width: 0px) and (max-width: 960px) {
   section {
      height: 50vh !important;
   }
}

@media (min-width: 961px) and (max-width: 1200px) { 
   #homepage {
      height: 75vh !important;
   }

   section {
      height: 75vh !important;
      padding: 0px;
   }
}

* {
   box-sizing: border-box;
   font-size: 1vw;
}

body {
   margin: 0 !important; 
   padding: 0 !important;
   font-family: 'Belanosima', sans-serif;
   font-family: 'Inter', sans-serif;
   overscroll-behavior: none !important;
}

h1 {
   font-size: 5vw;
}

section {
   width: 100vw;
   height: 100vh;
}